<div id="run-in-shell" class="modal fade" tabindex="-1" role="document" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<h5 class="modal-title">Run on file…</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="padding: 0; background: black" id="run-in-shell-term">
			</div>
		</div>
	</div>
</div>
